body {

background: rgb(179, 210, 235);

margin:0;

padding: 0;

}

h1 {

text-align: center;

}

.caixa1 {

position: absolute;

width: 200px;

height: 200px;

background: green;

left: 0;

bottom:0;

}

.caixa2 {

position: absolute;

width: 200px;

height: 200px;

background: yellow;

left: 205px;

bottom:0;

}

.menuPrincipal {

position: absolute;

width: 100%;

height: 45px;

background:rgb(161, 246, 252);

font-family: 'Courier New', Courier, monospace;

top: 0;

left: 0;

}

nav ul {

list-style-type: none;

margin: 0;

padding: 0;

overflow: 0;

}

li {

float: left;

}

li a {

display: block;

color: black;

text-align: center;

padding: 14px 16px;

text-decoration: none;

}

li a:hover {

background: rgb(139, 105, 201);

color: azure;

}

.rodape {

position:absolute;

width: 100%;

height: 35px;

background:black;

color:blanchedalmond;

bottom:0;

display: flex;

justify-content: center;

}

.conteudo{

position: absolute;

top: 45px;

}

#ditadura{

width: 25%;

}

#Medici{
	
	width: 24%;
	
}

#Geisel{
	width: 24%;
	
}

#aberturapolitica{
	width: 30%;
}